@model CinemaScopeWeb.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>
<br />
<br />
<h4>@Html.LabelFor(m => m.UserName)</h4>
<h4>@Model.UserName</h4>
<br />
<h4>@Html.LabelFor(m => m.Email)</h4>
<h4>@Model.Email</h4>
<br />
<p>Hello, admin!</p>
