@model List<MovieService.Dtos.MostLikedDto>

@{
    ViewBag.Title = "MostWatched";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="color: #FCFCFA">
    <h2>MostWatched</h2>

    @foreach (var m in Model)
    {
        <h2>@m.Title</h2>
        <img src=@m.Image style="height: 400px; width: 300px">
        @*<h2>@m.Plot</h2>*@
        <h2>Liked @m.Liked time(s) on our site</h2>
    }
</div>