@model List<MovieService.Dtos.MostWatchedDto>

@{
    ViewBag.Title = "MostWatched";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="color: #FCFCFA">
    <h2>MostWatched</h2>

    @foreach (var m in Model)
    {
        <h2>@m.Title</h2>
        <img src=@m.Image>
        <h2>@m.Plot</h2>
        <h2>Watched @m.Watched time(s)</h2>
    }
</div>